* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img_header {
  width: 15%;
  height: inherit;
}
main {
  text-align: center;
}

li {
  list-style: none;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 36px 100px 31px 100px;
}

a {
  text-decoration: none;
  color: black;
}

table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
